:root {
    --main-text-color: #C0C0C0;
    --main-bg-color: #FFF5EE;
    --button-color: rgb(58, 240, 170);
}

body {
    background-color: var(--main-bg-color);
    background-image: url('background.webp');
    font-family: sans-serif;
    height: 1vh;
}

header {
    width: 60;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

{ h1
    background-color: lightgrey;
    color: #FF69B4
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3.0;
}

#timer,
#highscores {
    background-color: var(--button-color);
    padding: 16px;
    border-radius: 30px;
    color: var(--light-text-color);
    font-size: 1.3em;
}

.box {
    background: var(--main-bg-color);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

#end {
    display: none;
}